# Data Cleaning

## Date: OCT 10, 2023

-- ------------------------

## Introduction

This notebook cleans the data for the lending club accepted loans. Due to the size of the dataset, the csv is read in chunks, with a random sample taken from each each chunk. Only fully paid and charged off / defaulted loans are sampled as loans that were in-progress when the data was collected hold no value in classifying the target variable. Loading only a random sample of the relevant loans is more efficient than loading the entire dataset, while still keeping the distribution the same. Those samples are merged and are then used as the working dataset for the rest of the project. Unnecessary and leaky features are removed, with the remaining features being formatted and having their null values removed. Finally the dataframe's size is reduced as much as possible, then exported. Two files are exported, one for the models, and one for EDA.

### Table-of-contents

1. [Introduction](#Introduction)
   - [Table-of-contents](#Table-of-contents)
   - [Import-Librarys](#Import-Librarys)
   - [Data Dictionary](#Data-Dictionary)
   - [Define-Functions](#Define-Functions)
   - [Load in the data](#Load-the-data)
3. [Data Cleaning](#Cleaning)
   - [Initial Exploration](#Initial-Exploration)
   - [Feature Pruning](#Feature-Pruning)
   - [Feature Engineering](#Feature-Engineering)
   - [Dataframe Null Values](#Dataframe-Null-Values)
4. [Dataframe optimization](#Dataframe-optimization)
5. [Feature Engineering](#Feature-Engineering)
6. [Conclusion](#Conclusion)

### Import-Librarys

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import pdcast as pdc

from pathlib import Path

### Data-Dictionary

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [3]:
try:
    data_destination = Path('../Data/Lending Club Data Dictionary Approved.csv')
    dict_df = pd.read_csv(data_destination, encoding='ISO-8859-1')
    display(dict_df.iloc[:,0:2])
except FileNotFoundError as e:
    print(e.args[1])
    print('Check file location')

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
5,annual_inc_joint,The combined self-reported annual income provided by the co-borrowers during registration
6,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/credit limit for all bankcard accounts.
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding medical collections
13,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
14,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.
15,desc,Loan description provided by the borrower
16,dti,"A ratio calculated using the borrowers total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrowers self-reported monthly income."
17,dti_joint,"A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income"
18,earliest_cr_line,The month the borrower's earliest reported credit line was opened
19,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
20,emp_title,The job title supplied by the Borrower when applying for the loan.*
21,fico_range_high,The upper boundary range the borrowers FICO at loan origination belongs to.
22,fico_range_low,The lower boundary range the borrowers FICO at loan origination belongs to.
23,funded_amnt,The total amount committed to that loan at that point in time.
24,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
25,grade,LC assigned loan grade
26,home_ownership,"The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER"
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/credit limit on all install acct
29,initial_list_status,"The initial listing status of the loan. Possible values are  W, F"
30,inq_fi,Number of personal finance inquiries
31,inq_last_12m,Number of credit inquiries in past 12 months
32,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
33,installment,The monthly payment owed by the borrower if the loan originates.
34,int_rate,Interest Rate on the loan
35,issue_d,The month which the loan was funded
36,last_credit_pull_d,The most recent month LC pulled credit for this loan
37,last_fico_range_high,The upper boundary range the borrowers last FICO pulled belongs to.
38,last_fico_range_low,The lower boundary range the borrowers last FICO pulled belongs to.
39,last_pymnt_amnt,Last total payment amount received
40,last_pymnt_d,Last month payment was received
41,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
42,loan_status,Current status of the loan
43,max_bal_bc,Maximum current balance owed on all revolving accounts
44,member_id,A unique LC assigned Id for the borrower member.
45,mo_sin_old_il_acct,Months since oldest bank installment account opened
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened
49,mort_acc,Number of mortgage accounts.
50,mths_since_last_delinq,The number of months since the borrower's last delinquency.
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
52,mths_since_last_record,The number of months since the last public record.
53,mths_since_rcnt_il,Months since most recent installment accounts opened
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
58,next_pymnt_d,Next scheduled payment date
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due
60,num_actv_bc_tl,Number of currently active bankcard accounts
61,num_actv_rev_tl,Number of currently active revolving trades
62,num_bc_sats,Number of satisfactory bankcard accounts
63,num_bc_tl,Number of bankcard accounts
64,num_il_tl,Number of installment accounts
65,num_op_rev_tl,Number of open revolving accounts
66,num_rev_accts,Number of revolving accounts
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due (updated in past 2 months)
70,num_tl_30dpd,Number of accounts currently 30 days past due (updated in past 2 months)
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in last 24 months
72,num_tl_op_past_12m,Number of accounts opened in past 12 months
73,open_acc,The number of open credit lines in the borrower's credit file.
74,open_acc_6m,Number of open trades in last 6 months
75,open_il_12m,Number of installment accounts opened in past 12 months
76,open_il_24m,Number of installment accounts opened in past 24 months
77,open_act_il,Number of currently active installment trades
78,open_rv_12m,Number of revolving trades opened in past 12 months
79,open_rv_24m,Number of revolving trades opened in past 24 months
80,out_prncp,Remaining outstanding principal for total amount funded
81,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
82,pct_tl_nvr_dlq,Percent of trades never delinquent
83,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of limit.
84,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2
85,pub_rec,Number of derogatory public records
86,pub_rec_bankruptcies,Number of public record bankruptcies
87,purpose,A category provided by the borrower for the loan request.
88,pymnt_plan,Indicates if a payment plan has been put in place for the loan
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in the borrower's credit file
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
111,url,URL for the LC page with listing data.
112,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"
113,verified_status_joint,"Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified"
114,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.
115,revol_bal_joint,"Sum of revolving credit balance of the co-borrowers, net of duplicate balances"
116,sec_app_fico_range_low,FICO range (high) for the secondary applicant
117,sec_app_fico_range_high,FICO range (low) for the secondary applicant
118,sec_app_earliest_cr_line,Earliest credit line at time of application for the secondary applicant
119,sec_app_inq_last_6mths,Credit inquiries in the last 6 months at time of application for the secondary applicant
120,sec_app_mort_acc,Number of mortgage accounts at time of application for the secondary applicant
121,sec_app_open_acc,Number of open trades at time of application for the secondary applicant
122,sec_app_revol_util,Ratio of total current balance to high credit/credit limit for all revolving accounts
123,sec_app_open_act_il,Number of currently active installment trades at time of application for the secondary applicant
124,sec_app_num_rev_accts,Number of revolving accounts at time of application for the secondary applicant
125,sec_app_chargeoff_within_12_mths,Number of charge-offs within last 12 months at time of application for the secondary applicant
126,sec_app_collections_12_mths_ex_med,Number of collections within last 12 months excluding medical collections at time of application for the secondary applicant
127,sec_app_mths_since_last_major_derog,Months since most recent 90-day or worse rating at time of application for the secondary applicant
128,hardship_flag,Flags whether or not the borrower is on a hardship plan
129,hardship_type,Describes the hardship plan offering
130,hardship_reason,Describes the reason the hardship plan was offered
131,hardship_status,"Describes if the hardship plan is active, pending, canceled, completed, or broken"
132,deferral_term,Amount of months that the borrower is expected to pay less than the contractual monthly payment amount due to a hardship plan
133,hardship_amount,The interest payment that the borrower has committed to make each month while they are on a hardship plan
134,hardship_start_date,The start date of the hardship plan period
135,hardship_end_date,The end date of the hardship plan period
136,payment_plan_start_date,"The day the first hardship plan payment is due. For example, if a borrower has a hardship plan period of 3 months, the start date is the start of the three-month period in which the borrower is allowed to make interest-only payments."
137,hardship_length,The number of months the borrower will make smaller payments than normally obligated due to a hardship plan
138,hardship_dpd,Account days past due as of the hardship plan start date
139,hardship_loan_status,Loan Status as of the hardship plan start date
140,orig_projected_additional_accrued_interest,The original projected additional interest amount that will accrue for the given hardship payment plan as of the Hardship Start Date. This field will be null if the borrower has broken their hardship payment plan.
141,hardship_payoff_balance_amount,The payoff balance amount as of the hardship plan start date
142,hardship_last_payment_amount,The last payment amount as of the hardship plan start date
143,disbursement_method,"The method by which the borrower receives their loan. Possible values are: CASH, DIRECT_PAY"
144,debt_settlement_flag,"Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company."
145,debt_settlement_flag_date,The most recent date that the Debt_Settlement_Flag has been set
146,settlement_status,"The status of the borrowers settlement plan. Possible values are: COMPLETE, ACTIVE, BROKEN, CANCELLED, DENIED, DRAFT"
147,settlement_date,The date that the borrower agrees to the settlement plan
148,settlement_amount,The loan amount that the borrower has agreed to settle for
149,settlement_percentage,The settlement amount as a percentage of the payoff balance amount on the loan
150,settlement_term,The number of months that the borrower will be on the settlement plan
151,NaN,NaN
152,NaN,* Employer Title replaces Employer Name for all loans listed after 9/23/2013

#### Define-Functions

In [4]:
def map_emp_length(employment_length:str):
    '''
    Takes in employment length and returns an int for mapping

    :param employment_length: The employment length to be mapped
    :type employment_length: str

    :return: The int employment length should be mapped to
    :type return: int
    '''
    if employment_length == '< 1 year':
        return 0.5
    elif employment_length == '10+ years':
        return 10
    elif 'years' or 'year' in employment_length:
        return int(employment_length.split()[0])
    elif employment_length == '0':
        return 0
    else:
        return employment_length

When initially loading in the dataset, Pandas raised a DtypeWarning over mixed datatypes within various columns. Setting low_memory = False while breaking the CSV into chunks allows Pandas to load an entire chunk before guessing the data types. When the script to scrape the data dictionary is finished, the data dict can then be passed in instead of relying on pandas. The mixed_data_types function is stilled called as a sanity check.

In [5]:
def mixed_data_types(df:pd.DataFrame) -> bool:
    '''
    Takes in a dataframe and checks for columns with mixed data types
    If none are found return False, else True
    
    :param df: The dataframe to be checked
    :type df: obj
    :return bool: True if found, false if none were found
    :type return: bool
    '''
    
    #loop through each column
    for column in df:

        #filter out int datatype coming from Nan and get unique data types
        unique_types = df[column].dropna(inplace=False).apply(type).unique()

        #if there are more than 1 datatype in a column
        if unique_types.size > 1:
            return True
    
    return False

#### Load the data

Due to the size of the dataset, the data is pre-processed and read in chunks. Only completed loans are randomly sampled from each chunk, checked for mixed data types, and then combined. This single sample is representative of the whole dataset, and is used for the rest of the project.

In [6]:
# Adjust chunk_size depending how much memory you have, and sample size for how large of a final dataset you want
chunk_size = 5*100000
sample_size =  100000
random_state = 11

assert sample_size < chunk_size, f"Cannot take a sample of {sample_size} rows out of {chunk_size} rows"

print(f'Chunk size: {chunk_size} rows')
print(f'Rows to be sampled: {sample_size} rows')

sampled_dataframes = []
try:
    
    # Path to the data. Should be under Data/
    data_destination = Path('../Data/accepted_2007_to_2018Q4.csv')

    # Split the csv into chunks and iterate over each chunk
    # Set low_memory to false to force pandas to load entire columns before guessing data type
    with pd.read_csv(data_destination, chunksize=chunk_size, low_memory = False) as reader:
        for count, chunk in enumerate(reader):
            if mixed_data_types(df=chunk) == True:
                raise Exception("Mixed data types found")

            # List of finished loan status's
            finished_loan_status = ['Fully Paid',
                                    'Charged Off',
                                    'Does not meet the credit policy. Status:Fully Paid',
                                    'Does not meet the credit policy. Status:Charged Off',
                                    'Default']
                        
            # Filter the dataframe for loans that are finished or null
            filtered_chunk = chunk.loc[chunk['loan_status'].isin(finished_loan_status) | chunk['loan_status'].isnull()]
            
            # Sample the filtered df
            sampled_df = filtered_chunk.sample(n=sample_size, random_state=random_state)
            sampled_dataframes.append(sampled_df)
            
            print(f"{count} sampled dataframe shape: {sampled_df.shape}")
        print('Finished')

except FileNotFoundError as e:
    print(e.args[1])
    print('Check file name and location')
    
except Exception as e:
    print(e.args[1])

Chunk size: 500000 rows
Rows to be sampled: 100000 rows
0 sampled dataframe shape: (100000, 151)
1 sampled dataframe shape: (100000, 151)
2 sampled dataframe shape: (100000, 151)
3 sampled dataframe shape: (100000, 151)
4 sampled dataframe shape: (100000, 151)
Finished

There are no duplicate datatypes within any columns. The random samples can be combined into a single sample dataframe. This sample will be used as the working dataset.

In [7]:
sample_accepted_df = pd.concat(sampled_dataframes, ignore_index=False)

&nbsp;

## Cleaning

### Initial Exploration

***Display the first 5 rows***

In [8]:
sample_accepted_df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
50867,65733661,NaN,23000.0,23000.0,23000.0,36 months,12.05,764.48,C,C1,Owner,3 years,RENT,50000.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=65733661,NaN,debt_consolidation,Debt consolidation,331xx,FL,13.90,0.0,Dec-2005,700.0,704.0,1.0,61.0,NaN,8.0,0.0,9976.0,45.6,12.0,w,0.0,0.0,27505.815541,27505.82,23000.0,4505.82,0.0,0.0,0.0,Dec-2018,764.42,NaN,Jan-2019,709.0,705.0,0.0,61.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,11973.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21900.0,NaN,NaN,NaN,2.0,1710.0,11924.0,45.6,0.0,0.0,110.0,119.0,5.0,5.0,0.0,5.0,74.0,5.0,74.0,2.0,4.0,4.0,4.0,6.0,5.0,5.0,7.0,4.0,8.0,0.0,0.0,0.0,1.0,81.8,0.0,0.0,0.0,28207.0,11973.0,21900.0,6307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
373353,40959934,NaN,35000.0,35000.0,35000.0,60 months,17.57,880.61,D,D4,Global Account Manager,2 years,RENT,110000.0,Verified,Feb-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=40959934,NaN,debt_consolidation,Debt consolidation,774xx,TX,31.63,0.0,May-1994,660.0,664.0,0.0,38.0,NaN,27.0,0.0,50450.0,75.6,38.0,f,0.0,0.0,51912.964799,51912.96,35000.0,16912.96,0.0,0.0,0.0,Feb-2019,10609.70,NaN,Aug-2017,669.0,665.0,0.0,38.0,1.0,Individual,NaN,NaN,NaN,0.0,541.0,304808.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66700.0,NaN,NaN,NaN,3.0,11289.0,9169.0,81.6,0.0,0.0,138.0,193.0,11.0,3.0,1.0,47.0,NaN,12.0,NaN,0.0,7.0,10.0,8.0,13.0,17.0,14.0,19.0,10.0,27.0,0.0,0.0,0.0,3.0,91.9,50.0,0.0,0.0,336948.0,215616.0,49900.0,134250.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
185185,56007123,NaN,33100.0,33100.0,33100.0,36 months,13.99,1131.12,C,C4,Shipping and Logistics,1 year,MORTGAGE,72000.0,Source Verified,Aug-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=56007123,NaN,debt_consolidation,Debt consolidation,786xx,TX,12.13,0.0,Dec-1994,750.0,754.0,2.0,NaN,NaN,10.0,0.0,16993.0,37.6,29.0,w,0.0,0.0,37798.290000,37798.29,33100.0,4698.29,0.0,0.0,0.0,Oct-2016,23215.34,NaN,Oct-2016,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,89.0,33172.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45200.0,NaN,NaN,NaN,3.0,3686.0,8802.0,64.8,0.0,0.0,143.0,247.0,10.0,10.0,0.0,43.0,NaN,5.0,NaN,0.0,3.0,4.0,3.0,9.0,7.0,9.0,22.0,4.0,10.0,0.0,0.0,0.0,1.0,100.0,33.3,0.0,0.0,67371.0,33172.0,25000.0,22171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
33164,66630831,NaN,1000.0,1000.0,1000.0,36 months,11.22,32.85,B,B5,Sergeant,10+ years,RENT,40000.0,Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=66630831,NaN,vacation,Vacation,330xx,FL,18.27,0.0,Dec-2004,695.0,699.0,1.0,NaN,NaN,9.0,0.0,12175.0,39.8,13.0,w,0.0,0.0,1133.624827,1133.62,1000.0,133.62,0.0,0.0,0.0,Jun-2017,375.79,NaN,Mar-2019,514.0,510.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,25333.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30600.0,NaN,NaN,NaN,5.0,2815.0,17325.0,41.3,0.0,0.0,19.0,132.0,1.0,1.0,0.0,1.0,NaN,1.0,NaN,0.0,4.0,4.0,6.0,8.0,2.0,7.0,11.0,4.0,9.0,0.0,0.0,0.0,3.0,100.0,16.7,0.0,0.0,46125.0,25333.0,29500.0,15525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
368586,41099404,NaN,4400.0,4400.0,4400.0,36 months,12.29,146.76,C,C1,Housekeeping Lead / Purchasing,3 years,RENT,34000.0,Verified,Feb-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=41099404,NaN,debt_consolidation,Debt consolidation,577xx,SD,8.86,0.0,Oct-2000,690.0,694.0,0.0,NaN,NaN,6.0,0.0,10915.0,78.0,17.0,f,0.0,0.0,5280.063823,5280.06,4400.0,880.06,0.0,0.0,0.0,Feb-2018,146.46,NaN,Feb-2018,674.0,670.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,10915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14000.0,NaN,NaN,NaN,0.0,2183.0,1985.0,84.6,0.0,0.0,123.0,172.0,29.0,29.0,0.0,33.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,9.0,3.0,6.0,14.0,4.0,6.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,14000.0,10915.0,12900.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

***Dataframe shape***

In [9]:
rows, columns = sample_accepted_df.shape
print(f'Dataframe rows: {rows}')
print(f'Dataframe columns: {columns}')

Dataframe rows: 500000
Dataframe columns: 151

***Dataframe info***

In [10]:
sample_accepted_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 50867 to 2071622
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 579.8+ MB

Of the 151 columns, 113 are float64 and 38 are objects. The dataframe takes up approximatly 580 MB.
Note:
- The numeric columns are all float64 and the object columns. These columns can be optimized later to save memory space and decrease computation time by changing the datatypes.
- There is no datetime column.

***Describe Dataframe***

In [11]:
sample_accepted_df.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,499979.000000,499979.000000,499979.000000,499979.000000,499979.000000,4.999770e+05,499775.000000,499968.000000,499979.00000,499979.000000,499968.000000,249429.000000,87595.000000,499968.000000,499968.000000,4.999790e+05,499589.000000,499968.000000,499979.000000,499979.000000,499979.000000,499979.000000,499979.000000,499979.000000,4.999790e+05,499979.000000,499979.000000,499979.000000,499979.000000,499979.000000,499937.000000,132999.000000,499979.0,1.371200e+04,13710.000000,499968.000000,4.786860e+05,4.786860e+05,271247.000000,271247.000000,271247.000000,271247.000000,264099.000000,2.712470e+05,234897.000000,271247.000000,271247.000000,271247.000000,271221.000000,4.786860e+05,271247.000000,271247.000000,271247.000000,484924.000000,478677.000000,479425.000000,479124.000000,499937.000000,499968.000000,464881.000000,478686.000000,478686.000000,478686.000000,484924.000000,479800.000000,118418.000000,438581.000000,167810.000000,478686.000000,478686.000000,478686.000000,482303.000000,478686.000000,478686.000000,478686.000000,478686.000000,478686.000000,482303.000000,458884.000000,478686.000000,478686.000000,478686.000000,478636.000000,479306.000000,499550.000000,499949.000000,4.786860e+05,4.849240e+05,4.849240e+05,4.786860e+05,10132.000000,10133.000000,10133.000000,10133.000000,10133.000000,10133.000000,9942.000000,10133.000000,10133.000000,10133.000000,10133.000000,3621.000000,2441.0,2441.000000,2441.0,2441.000000,1529.000000,2441.000000,2441.000000,12888.000000,12888.000000,12888.000000
mean,NaN,14351.216601,14344.161255,14320.336357,13.376596,437.486043,7.671067e+04,18.341618,0.320655,696.66044,700.660592,0.649706,34.321911,70.880358,11.586888,0.220104,1.601236e+04,50.620056,24.792857,0.410202,0.410202,14464.588357,14439.874481,11969.671534,2247.591116,1.663389e+00,245.662322,41.082691,5806.612793,676.828471,659.151394,0.018194,43.855270,1.0,1.171497e+05,18.925354,0.005094,2.591667e+02,1.420346e+05,1.050213,2.793074,0.778630,1.755780,19.387608,3.582062e+04,71.446042,1.423743,3.000737,5477.764517,58.046121,3.298395e+04,1.099006,1.604361,2.316269,4.769896,13615.051745,10612.631953,58.495924,0.008885,18.332135,125.405467,180.279047,13.056344,7.752449,1.640129,23.542705,39.396274,6.661271,35.670908,0.518923,3.606805,5.572258,4.723707,7.946612,8.606907,8.238693,14.396429,5.512516,11.616187,0.000843,0.003411,0.089443,2.213589,94.093066,43.502846,0.139169,0.052663,1.759198e+05,4.990354e+04,2.184791e+04,4.272952e+04,31332.992696,665.931116,669.931116,0.753873,1.668114,11.328531,57.102826,2.973354,12.872298,0.064542,0.086944,36.460922,3.0,160.790098,3.0,14.011880,448.059320,11888.327054,193.174740,5138.769217,47.916700,13.879112
std,NaN,8848.659132,8845.450081,8849.887219,4.909537,266.890831,7.496499e+04,12.129001,0.889171,32.29301,32.293711,0.944267,21.902428,26.328297,5.528704,0.615178,2.207614e+04,24.719120,12.026529,86.913731,86.913731,10352.301958,10351.930590,8988.218260,2483.883370,1.119051e+01,955.659036,166.878407,7383.346534,81.355583,134.408802,0.151789,21.410147,0.0,6.008100e+04,7.698941,0.078768,1.350888e+04,1.581593e+05,1.210044,2.983575,0.996272,1.690883,24.543063,4.265731e+04,22.865883,1.578954,2.701550,5572.388855,20.989683,3.358504e+04,1.590270,2.818583,2.544970,3.233913,16528.370021,15793.251067,28.656971,0.106895,964.250763,52.447051,94.777343,16.322970,8.600967,1.963966,30.709759,22.716797,5.828987,22.424780,1.354475,2.255307,3.305085,2.978037,4.768101,7.399445,4.597487,8.106795,3.206907,5.533984,0.030493,0.062124,0.515750,1.874267,8.854968,36.107364,0.381020,0.415262,1.783396e+05,4.783723e+04,2.181159e+04,4.349152e+04,26591.138270,46.076296,46.076296,1.090739,1.859156,6.559360,26.373974,3.223556,8.402730,0.484846,0.445223,24.279961,0.0,137.988481,0.0,9.765879,383.737777,7883.114894,208.897422,3734.172876,6.775596,8.075571
min,NaN,500.000000,500.000000,0.000000,5.310000,4.930000,0.000000e+00,0.000000,0.000000,610.00000,614.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-5.100000e-09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.100000e+04,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,540.000000,544.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,1.470000,3.0,0.000000,4.410000,174.150000,0.010000,107.000000,0.450000,0.000000
25%,NaN,7500.000000,7500.000000,7500.000000,9.800000,243.750000,4.600000e+04,11.760000,0.000000,670.00000,674.000000,0.000000,16.000000,54.000000,8.000000,0.000000,5.749000e+03,31.900000,16.000000,0.000000,0.000000,6513.171022,6494.550000,5000.000000,690.370000,0.000000e+00,0.000000,0.000000,433.540000,629.000000,625.000000,0.000000,27.000000,1.0,8.000000e+04,13.340000,0.000000,0.000000e+00,2.947025e+04,0.000000,1.000000,0.000000,1.000000,6.000000,9.613000e+03,58.000000,0.000000,1.000000,2143.000000,44.000000,1.410000e+04,0.000000,0.000000,1.000000,2.000000,3113.000000,1576.000000,36.100000,0.000000,0.000000,97.000000,117.000000,4.000000,3.000000,0.000000,6.000000,20.000000,2.000000,17.000000,0.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,9.000000,3.000000,8.000000,0.000000,0.000000,0.000000,1.000000,91.300000,0.000000,0.000000,0.000000,5.021200e+04,2.084700e+04,7.800000e+03,1.500000e+04,13906.000000,640.000000,644.000000,0.000000,0.000000,7.000000,38.000000,1.000000,7.000000,0.000000,0.000000,14.000000,3.0,59.530000,3.0,5.000000,164.580000,5669.430000,41.010000,2288.587500,45.000000,8.000000
50%,NaN,12000.000000,12000.000000,12000.000000,12.790000,371.590000,6.500000e+04,17.620000,0.000000,690.00000,694.000000,0.000000,31.000000,72.000000,11.000000,0.000000,1.087100e+04,50.700000,23.000000,0.000000,0.000000,11712.538765,11687.430000,10000.000000,1456.780000,0.000000e+00,0.000000,0.000000,2591.910000,694.000000,690.000000,0.000000,44.000000,1.0,1.070000e+05,18.540000,0.000000,0.000000e+00,8.084500e+04,1.000000,2.000000,1.000000,1.000000,12.000000,2.405800e+04,75.000000,1.000000,2.000000,4150.000000,59.000000,2.420000e+04,1.000000,0.000000,2.000000,4.000000,7474.000000,4998.000000,61.200000,0.000000,0.000000,129.000000,163.000000,8.000000,5.000000,1.000000,13.000000,37.000000,5.000000,33.000000,0.000000,3.000000,5.000000,4.000000,7.000000,7.000000,7.000000,13.000000,5.000000,11.000000,0.000000,0.000000,0.000000,2.000000,97.900000,40.000000,0.000000,0.000000,1.138145e+05,3.746100e+04,1.530000e+04,3.224400e+04,24688.500000,665.000000,669.000000,0.000000,1.000000,10.000000,59.050000,2.000000,11.000000,0.000000,0.000000,35.000000,3.0,118.500000,3.0,16.000000,339.360000,10403.830000,123.010000,4251.500000,45.000000,16.000000
75%,NaN,20000.000000,20000.000000,20000.000000,16.020000,581.090000,9.100000e+04,24.100000,0.000000,715.00000,719.000000,1.000000,50.000000,90.000000,14.000000,0.000000,1.937600e+04,69.700000,32.000000,0.000000,0.000000,20096.100096,20072.905000,16925.000000,2851.340000,0.000000e+00,0.000000,0.000000,8861.670000,734.000000,730.000000,0.000000,61.000000,1.0,1.400000e+05,24.190000,0.000000,0.000000e+00,2.125038e+05,2.000000,3.000000,1.000000,3.000000,22.000000,4.671950e+04,87.000000,2.000000,4.000000,7109.000000,73.000000,4.090000e+04,2.000000,2.000000,3.000000,6.000000,18877.000000,13007.000000,83.800000,0.000000,0.000000,152.000000,229.000000,16.000000,10.000000,3.000000,28.000000,58.000000,10.000000,52.000000,0.000000,5.000000,7.000000,6.000000,10.000000,11.000000,10.000000,19.000000,7.000000,14.000000,0.000000,0.000000,0.000000,3.000000,100.000000,75.000000,0.000000,0.000000,2.546108e+05,6.300700e+04,2.840000e+04,5.749900e+04,40304.000000,690.000000,694.000000,1.000000,3.000000,15.000000,78.400000,4.000000,17.000000,0.000000,0.000000,56.000000,3.0,219.630000,3.0,22.000000,615.180000,16484.960000,277.330000,7017.602500,50.000000,18.000000
max,NaN,40000.000000,40000.000000,40000.000000,30.990000,1719.830000,9.550000e+06,999.000000,30.000000,845.00000,850.000000,32.000000,202.000000,124.000000,90.000000,86.000000,1.743266e+06,366.600000,169.000000,28222.010000,28222.010000,63296.877917,63296.880000,40000.000000,28192.500000,1.188830e+03,39444.370000,6687.622800,42192.050000,850.000000,845.000000,14.000000,202.000000,1.0,1.837000e+06,69.490000,14.000000,9.152545e+06,8.000078e+06,17.000000,48.000000,25.000000,51.000000,511.000000,1.547285e+06,353.000000,26.000000,53.000000,776843.000000,184.000000,2.013133e+06,48.000000,79.000000,49.000000,56.000000,958084.000000,559912.000000,339.600000,8.000000,249925.000000,649.000000,818.000000,438.000000,314.000000,37.000000,639.000000,202.000000,25.000000,202.000000,51.000000,33.000000,51.000000,63.000000,70.000000,138.000000,83.000000,128.000000,44.000000,90.000000,3.000000,4.000000,30.000000,29.000000,100.000000,100.000000,8.000000,85.000000,9.999999e+06,1.924200e+06,1.105500e+06,2.000000e+06,357135.000000,840.000000,844.000000,6.000000,18.000000,82.000000,182.500000,35.000000,92.000000,16.000000,16.000000,132.000000,3.0,943.940000,3.0,32.000000,2267.280000,39542.450000,1407.860000,27850.000000,184.360000,118.000000

Some key points:

- Loan Amount
  
    - Average Loan Amount is ~ 15,000 USD with a standard deviation of 9240 USD, having a max of 40,000 USD and minimum of 500 USD. This follows LendingClubs  policies for minimum and maximum loan amounts.

- Funded amount
    - Nearly identical to the loan amount

- Funded amount by investors
    - Very similar to the  funded amount

- Interest Rate
    - The interest rates are quite high. An average of 13%, with a minimum of 5.3% and a maximum of 31%.

***Null Values***

Some rows are fully NaN values, aside from the id. This will cause issues trying to inspect each column later. So we will drop `id` and the NaN rows, along with any other irrelevant columns including:  
- member_id
- url for the loan
- LC policy code
- title (information is already found under purpose)
- initial_list_status (what market it was listed under)

Define a list to keep track of the columns we have dropped.

In [12]:
dropped_columns = []

In [13]:
drop_columns=['id', 'member_id', 'url', 'policy_code', 'title', 'initial_list_status']

# Append the columns to drop
dropped_columns.extend(drop_columns)

sample_accepted_df.drop(columns=drop_columns, inplace=True)

In [14]:
null_rows = sample_accepted_df.isnull().all(axis=1).sum()
print(f"Number of Null rows: {null_rows}")

Number of Null rows: 21

In [15]:
# Drop rows that are all Nan
sample_accepted_df.dropna(how='all', inplace=True)

In [16]:
null_rows = sample_accepted_df.isnull().all(axis=1).sum()
print(f"Number of Null rows: {null_rows}")

Number of Null rows: 0

&nbsp;

---------------------------------------------

### Feature Pruning

Exclude any leaky features, non relevant features and any features that were not present in the original loan application.

#### ***Irrelevant columns***

***Secondary Applicants Information***

The columns for the secondary applicants are largely nulls, so we will drop them.

In [17]:
nulls_percent = (sample_accepted_df['sec_app_mort_acc'].isnull().sum()/sample_accepted_df.shape[0]*100)
print('Percentage of null rows for secondary applicants: ', nulls_percent.round(2), '%')

Percentage of null rows for secondary applicants:  97.97 %

In [18]:
sample_accepted_df['application_type'].value_counts()

application_type
Individual    486267
Joint App      13712
Name: count, dtype: int64

In [19]:
# Get the index of the loans where application_type is a joint application
rows_to_remove = sample_accepted_df.loc[sample_accepted_df['application_type'] == 'Joint App'].index

# Drop the loans
sample_accepted_df.drop(rows_to_remove, inplace=True)

# Drop the related columns
drop_columns = ['revol_bal_joint', 'sec_app_fico_range_low', 
                'sec_app_fico_range_high', 'sec_app_earliest_cr_line',
                'sec_app_inq_last_6mths', 'sec_app_mort_acc',
                'sec_app_open_acc', 'sec_app_revol_util', 
                'sec_app_open_act_il', 'sec_app_num_rev_accts', 
                'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med',
                'sec_app_mths_since_last_major_derog',
                'verification_status_joint', 'dti_joint',
                'annual_inc_joint']

# Append the columns to drop
dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns=drop_columns, inplace=True)

We will still keep the flag of whether the application was a joint or individual application since there are no nulls, and joint applicant loans are typically used when the primary applicant has bad or little credit history.

***Hardship Loans***

Hardship loans add 15 columns of complexity, are largely nulls and leak the loan outcome. We will drop these columns and loans if they exist in our dataset, and limit our analysis to non hardship loans.

In [20]:
# Fetch the value counts for the for the hardships flags
hardships = sample_accepted_df['hardship_flag'].value_counts()
display(hardships)

# If there are loans with the yes hardship flag
if 'Y' in hardships:
    #get the count of hardship loans
    yes_hardship_count = hardships.iloc[1]
    print(f'The hardship loans represent only {(yes_hardship_count/sample_accepted_df.shape[0])*100}% of the dataset')

    #get the index of the hardship loans
    rows_to_remove = sample_accepted_df.loc[sample_accepted_df['hardship_flag'] == 'Y'].index

    #drop the loans
    sample_accepted_df.drop(rows_to_remove, inplace=True)

    #check the rows have been dropped
    assert sample_accepted_df['hardship_flag'].value_counts().shape[0] == 1
    print('Hardship loans and associated columns have been dropped')

else:
    print('There are no hardship loans.')
    
drop_columns = ['hardship_flag', 'hardship_type',
                'hardship_reason', 'hardship_status',
                'hardship_amount', 'hardship_start_date',
                'hardship_end_date', 'deferral_term',
                'hardship_length', 'hardship_dpd',
                'hardship_loan_status', 'payment_plan_start_date',
                'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount',
                'hardship_last_payment_amount']

# Append the columns to drop
dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns = drop_columns, inplace=True)
print('Hardship columns have been dropped')

hardship_flag
N    486267
Name: count, dtype: int64

There are no hardship loans.
Hardship columns have been dropped

***Employee Title***

In [21]:
unique_emp_titles = sample_accepted_df['emp_title'].nunique()
print(f'Number of unique employment titles: {unique_emp_titles}')

Number of unique employment titles: 160993

There are too many unique Employee titles to attempt any sort of grouping or encoding for now. In the future we could use NLP or an external API to group the Employee Title.

In [22]:
# Append the columns to drop
dropped_columns.append('emp_title')

sample_accepted_df.drop(columns = 'emp_title', inplace=True)

***Loan Status***

Any current loans have already been dropped when reading in the data. We can now finish grouping the completed loans.

More information on the loan status's can be found here:  
https://www.lendingclub.com/help/investing-faq/what-do-the-different-note-statuses-mean  
https://www.fintechnexus.com/policy-code-2-loans-lending-club/

In [23]:
sample_accepted_df['loan_status'].value_counts()

loan_status
Fully Paid                                             385260
Charged Off                                            100177
Does not meet the credit policy. Status:Fully Paid        582
Does not meet the credit policy. Status:Charged Off       230
Default                                                    18
Name: count, dtype: int64

The "Does not meet the credit policy" means when the loans were made under a different credit card policy, that does not meet the current policy. This has affect on the loans themselves, so they can be grouped with their counter parts. Charged off and Defaulted can also been grouped together.

In [24]:
status_mapping = {
    "Fully Paid": "Fully Paid",
    "Does not meet the credit policy. Status:Fully Paid": "Fully Paid",
    "Does not meet the credit policy. Status:Charged Off": "Charged Off/Default",
    "Charged Off": "Charged Off/Default",
    "Default": "Charged Off/Default",
}

# Map the loans
sample_accepted_df['loan_status'] = sample_accepted_df['loan_status'].map(status_mapping)

Check the mapping has worked:

In [25]:
sample_accepted_df['loan_status'].value_counts()

loan_status
Fully Paid             385842
Charged Off/Default    100425
Name: count, dtype: int64

***State / Zip Code***

We have 2 geographical features. We will drop both of them later as they add too much complexity to the model. However, in the future we can perhaps use a 3rd party api and introduce mean or median income data by region, allowing us to capture some of that geographical data. These models were kept for the sake of EDA, they will be dropped then.

In [26]:
display(sample_accepted_df['addr_state'].value_counts())
print('-'*20)
display(sample_accepted_df['zip_code'].value_counts())

addr_state
CA    70894
TX    39945
NY    39754
FL    35386
IL    18586
NJ    17365
PA    16388
GA    15735
OH    15706
NC    13744
VA    13507
MI    12848
AZ    11935
MD    11289
MA    11202
CO    10749
WA    10323
MN     8614
IN     7935
MO     7623
NV     7459
TN     7451
CT     7115
WI     6190
AL     5995
OR     5832
SC     5721
LA     5514
KY     4678
OK     4327
KS     3927
AR     3622
UT     3518
NM     2602
HI     2475
MS     2468
NH     2406
RI     2101
NE     1498
WV     1495
DE     1418
MT     1359
DC     1249
AK     1096
WY     1000
SD      975
VT      955
ME      810
ID      788
ND      691
IA        4
Name: count, dtype: int64

--------------------

zip_code
945xx    5448
750xx    5246
112xx    4962
606xx    4470
300xx    4438
331xx    4105
891xx    3963
070xx    3848
900xx    3835
770xx    3810
100xx    3766
330xx    3738
104xx    3526
917xx    3502
117xx    3364
852xx    3179
921xx    3023
925xx    2966
913xx    2868
926xx    2833
334xx    2701
481xx    2597
853xx    2546
956xx    2466
601xx    2457
760xx    2432
604xx    2429
113xx    2392
080xx    2373
021xx    2358
928xx    2349
773xx    2342
802xx    2335
301xx    2320
600xx    2304
207xx    2304
920xx    2302
850xx    2252
980xx    2242
774xx    2160
201xx    2115
782xx    2106
923xx    2100
480xx    2034
114xx    2022
902xx    2009
800xx    2008
951xx    1981
212xx    1962
941xx    1956
554xx    1932
333xx    1924
088xx    1903
275xx    1897
953xx    1893
328xx    1886
553xx    1882
327xx    1855
752xx    1845
775xx    1827
840xx    1819
958xx    1795
786xx    1778
605xx    1755
890xx    1750
967xx    1742
787xx    1740
303xx    1730
302xx    1713
940xx    1686
282xx    1663
801xx    1656
191xx    1651
483xx    1644
761xx    1618
441xx    1610
190xx    1566
335xx    1552
322xx    1550
064xx    1537
430xx    1519
981xx    1440
115xx    1423
347xx    1423
751xx    1417
906xx    1416
060xx    1414
950xx    1410
210xx    1387
972xx    1381
028xx    1355
982xx    1351
922xx    1351
907xx    1342
857xx    1338
337xx    1333
370xx    1313
970xx    1305
551xx    1296
930xx    1283
339xx    1281
336xx    1279
919xx    1276
462xx    1260
208xx    1255
200xx    1247
440xx    1241
018xx    1222
105xx    1218
346xx    1210
342xx    1209
983xx    1207
103xx    1199
296xx    1198
432xx    1181
077xx    1180
076xx    1157
280xx    1143
762xx    1134
799xx    1134
109xx    1127
550xx    1119
152xx    1103
294xx    1101
329xx    1092
631xx    1089
452xx    1078
871xx    1063
463xx    1046
338xx    1041
640xx    1033
785xx    1026
805xx    1018
325xx    1018
211xx    1013
809xx    1008
908xx    1003
305xx    1000
283xx     996
027xx     991
142xx     986
935xx     985
217xx     977
320xx     976
630xx     975
371xx     963
402xx     955
986xx     941
276xx     939
957xx     928
221xx     917
532xx     916
641xx     914
180xx     905
730xx     898
234xx     897
531xx     887
281xx     887
482xx     885
442xx     883
125xx     883
946xx     879
740xx     879
023xx     877
973xx     871
460xx     871
933xx     868
450xx     865
851xx     864
932xx     857
349xx     855
019xx     843
220xx     840
068xx     835
074xx     835
223xx     825
660xx     825
954xx     818
232xx     816
461xx     813
700xx     812
194xx     812
765xx     812
010xx     797
206xx     797
841xx     793
410xx     792
633xx     790
272xx     787
959xx     786
490xx     779
087xx     774
381xx     773
321xx     770
030xx     769
952xx     768
130xx     768
934xx     763
140xx     761
731xx     758
431xx     757
078xx     752
146xx     748
015xx     744
488xx     744
029xx     742
705xx     741
968xx     726
662xx     720
949xx     718
530xx     716
974xx     714
111xx     711
936xx     710
150xx     705
894xx     697
727xx     690
170xx     681
937xx     681
286xx     677
895xx     677
985xx     669
295xx     653
067xx     646
352xx     644
350xx     644
927xx     643
120xx     639
020xx     636
071xx     634
535xx     629
984xx     626
310xx     625
380xx     624
073xx     616
107xx     610
284xx     605
151xx     604
372xx     602
145xx     601
287xx     601
209xx     594
038xx     589
290xx     587
231xx     585
344xx     585
484xx     584
701xx     578
065xx     576
238xx     576
085xx     574
622xx     572
704xx     571
720xx     567
446xx     565
939xx     565
278xx     563
806xx     561
707xx     561
453xx     560
063xx     559
199xx     558
017xx     557
494xx     556
780xx     556
856xx     555
193xx     554
197xx     553
373xx     553
781xx     552
741xx     546
323xx     544
681xx     544
285xx     541
306xx     539
914xx     538
797xx     538
119xx     536
465xx     531
971xx     531
910xx     529
454xx     529
144xx     529
365xx     523
341xx     522
297xx     521
995xx     518
379xx     515
236xx     514
754xx     514
121xx     508
916xx     506
672xx     504
378xx     503
273xx     502
549xx     493
386xx     489
245xx     487
351xx     481
173xx     476
189xx     473
993xx     473
061xx     473
495xx     473
066xx     472
222xx     471
559xx     465
024xx     459
240xx     459
451xx     457
110xx     456
274xx     456
224xx     455
324xx     455
082xx     454
992xx     453
326xx     451
225xx     448
435xx     446
292xx     440
083xx     440
307xx     433
405xx     428
277xx     423
912xx     423
086xx     422
708xx     421
960xx     420
293xx     419
156xx     416
492xx     413
721xx     413
757xx     413
054xx     409
444xx     406
458xx     405
804xx     404
229xx     397
794xx     394
183xx     393
905xx     390
975xx     386
784xx     385
610xx     383
376xx     381
436xx     380
711xx     379
360xx     379
486xx     378
448xx     374
226xx     374
563xx     373
148xx     373
233xx     373
403xx     372
230xx     372
357xx     371
395xx     371
136xx     371
141xx     371
864xx     370
368xx     366
468xx     364
132xx     362
134xx     361
356xx     357
079xx     356
756xx     354
471xx     350
128xx     348
863xx     347
270xx     345
977xx     345
467xx     344
366xx     343
703xx     343
620xx     342
315xx     342
560xx     341
880xx     339
317xx     338
989xx     337
313xx     335
308xx     333
014xx     333
456xx     333
657xx     333
123xx     332
175xx     328
072xx     328
314xx     326
778xx     324
400xx     320
493xx     320
443xx     320
948xx     319
377xx     318
479xx     318
791xx     316
810xx     316
271xx     316
291xx     314
931xx     314
032xx     313
544xx     311
712xx     311
496xx     311
198xx     309
722xx     309
652xx     309
254xx     308
062xx     308
537xx     303
184xx     302
618xx     301
924xx     301
216xx     300
469xx     298
816xx     295
875xx     293
658xx     291
706xx     288
016xx     287
031xx     285
026xx     284
394xx     284
069xx     284
195xx     282
611xx     282
075xx     282
196xx     280
911xx     279
617xx     278
160xx     277
363xx     276
729xx     273
361xx     273
358xx     273
319xx     271
218xx     268
131xx     267
547xx     266
359xx     265
820xx     264
776xx     262
473xx     262
433xx     262
129xx     260
571xx     260
988xx     260
815xx     258
996xx     257
390xx     257
577xx     256
836xx     255
648xx     255
724xx     252
172xx     252
235xx     252
011xx     252
670xx     252
944xx     251
241xx     249
122xx     248
124xx     248
474xx     248
299xx     248
915xx     247
759xx     246
153xx     246
666xx     246
685xx     245
903xx     245
539xx     245
882xx     244
447xx     244
597xx     242
147xx     242
040xx     241
391xx     241
860xx     240
591xx     239
298xx     239
354xx     237
421xx     235
186xx     233
546xx     231
612xx     230
615xx     230
445xx     230
847xx     230
846xx     230
174xx     230
904xx     229
541xx     228
116xx     224
489xx     224
161xx     224
166xx     223
735xx     221
656xx     221
557xx     220
178xx     219
540xx     217
844xx     217
309xx     215
383xx     215
362xx     214
279xx     214
374xx     213
385xx     213
025xx     213
766xx     212
439xx     212
997xx     211
182xx     211
497xx     210
565xx     210
108xx     208
763xx     208
392xx     207
472xx     207
548xx     206
181xx     206
171xx     206
680xx     206
607xx     205
081xx     205
106xx     204
434xx     203
598xx     203
304xx     202
955xx     202
437xx     202
629xx     201
228xx     200
790xx     200
487xx     199
137xx     196
133xx     196
316xx     195
627xx     195
661xx     193
898xx     192
744xx     191
609xx     190
176xx     190
570xx     190
626xx     190
990xx     188
388xx     187
165xx     186
783xx     186
826xx     186
808xx     185
543xx     184
710xx     182
947xx     181
628xx     180
978xx     179
101xx     179
012xx     178
961xx     178
138xx     176
244xx     176
168xx     175
608xx     175
723xx     175
714xx     174
870xx     173
767xx     172
401xx     172
219xx     172
384xx     172
599xx     171
089xx     171
478xx     171
466xx     171
423xx     171
288xx     170
404xx     170
616xx     169
843xx     169
564xx     168
214xx     168
748xx     167
803xx     167
185xx     166
498xx     166
127xx     165
796xx     165
177xx     165
665xx     164
613xx     164
154xx     163
594xx     163
558xx     163
625xx     162
187xx     161
719xx     161
716xx     161
312xx     161
464xx     160
874xx     160
667xx     159
243xx     157
650xx     157
788xx     157
562xx     157
918xx     156
420xx     155
713xx     153
779xx     152
159xx     150
163xx     149
242xx     149
769xx     147
837xx     146
897xx     146
265xx     146
427xx     145
793xx     144
485xx     143
179xx     143
477xx     143
034xx     142
829xx     142
624xx     141
647xx     141
227xx     140
671xx     139
655xx     139
457xx     138
449xx     138
470xx     138
126xx     137
318xx     136
755xx     135
855xx     135
355xx     135
726xx     133
118xx     132
674xx     131
603xx     130
614xx     128
728xx     128
777xx     127
534xx     127
717xx     126
013xx     125
795xx     125
718xx     125
476xx     123
037xx     123
581xx     122
260xx     120
678xx     120
393xx     119
743xx     119
475xx     118
056xx     117
602xx     117
057xx     117
042xx     116
044xx     115
585xx     114
827xx     113
991xx     113
491xx     113
813xx     113
637xx     113
838xx     113
143xx     112
764xx     112
164xx     112
814xx     111
455xx     111
664xx     110
653xx     109
688xx     109
644xx     108
424xx     107
811xx     106
587xx     106
976xx     105
596xx     105
675xx     105
397xx     103
812xx     103
807xx     103
261xx     103
619xx     102
422xx     101
050xx     101
943xx     101
237xx     101
033xx     100
883xx     100
725xx      99
881xx      98
155xx      98
158xx      97
253xx      97
239xx      96
737xx      96
411xx      96
364xx      95
645xx      94
758xx      94
162xx      94
566xx      93
768xx      93
636xx      92
567xx      92
542xx      91
215xx      91
139xx      91
833xx      90
789xx      89
255xx      89
188xx      88
049xx      87
623xx      87
157xx      87
396xx      86
135xx      86
582xx      86
638xx      84
998xx      83
832xx      83
749xx      82
834xx      82
590xx      81
745xx      80
382xx      80
367xx      80
561xx      80
545xx      80
651xx      79
407xx      78
580xx      78
398xx      77
654xx      77
592xx      73
588xx      73
734xx      73
859xx      72
572xx      72
573xx      71
263xx      71
499xx      70
246xx      69
389xx      69
824xx      69
634xx      68
035xx      68
258xx      67
687xx      67
438xx      66
084xx      65
387xx      65
676xx      64
747xx      63
798xx      62
574xx      62
041xx      62
639xx      61
149xx      61
646xx      60
668xx      59
262xx      58
425xx      56
825xx      56
673xx      56
538xx      56
406xx      55
689xx      55
167xx      55
043xx      54
691xx      54
257xx      53
058xx      53
693xx      52
052xx      52
251xx      51
169xx      51
845xx      50
053xx      49
586xx      49
746xx      48
022xx      48
051xx      48
575xx      47
684xx      47
828xx      46
247xx      46
593xx      46
252xx      45
873xx      45
683xx      44
415xx      43
686xx      42
635xx      41
736xx      40
822xx      38
877xx      38
738xx      38
249xx      37
250xx      37
102xx      36
412xx      36
267xx      36
772xx      35
426xx      35
584xx      35
039xx      33
409xx      33
595xx      33
831xx      33
865xx      33
583xx      32
256xx      32
046xx      32
259xx      32
045xx      32
823xx      31
679xx      31
677xx      31
792xx      30
416xx      28
835xx      27
999xx      27
739xx      26
268xx      26
893xx      26
264xx      26
830xx      25
417xx      25
047xx      24
289xx      24
413xx      24
556xx      24
369xx      24
332xx      23
408xx      19
669xx      19
248xx      19
048xx      19
979xx      18
994xx      18
753xx      18
884xx      18
690xx      18
418xx      17
879xx      16
036xx      15
878xx      14
090xx      14
414xx      12
963xx      12
576xx      12
091xx      11
266xx      10
962xx       9
311xx       8
094xx       8
096xx       6
969xx       6
098xx       5
500xx       4
097xx       4
059xx       4
692xx       3
854xx       2
523xx       2
092xx       2
909xx       2
502xx       2
345xx       2
204xx       2
353xx       2
861xx       2
007xx       1
528xx       1
269xx       1
375xx       1
527xx       1
965xx       1
348xx       1
896xx       1
343xx       1
205xx       1
698xx       1
987xx       1
621xx       1
552xx       1
203xx       1
569xx       1
501xx       1
942xx       1
742xx       1
511xx       1
938xx       1
872xx       1
524xx       1
901xx       1
702xx       1
709xx       1
555xx       1
821xx       1
568xx       1
510xx       1
506xx       1
Name: count, dtype: int64

In [27]:
#drop_columns = ['addr_state', 'zip_code']

# append the columns to drop
#dropped_columns.extend(drop_columns)
#sample_accepted_df.drop(columns = drop_columns, inplace=True)

***Description***

In [28]:
unique_desc_titles = sample_accepted_df['desc'].nunique()
print(f'Number of unique descriptions: {unique_desc_titles}')

Number of unique descriptions: 38325

There are too many unique descriptions to create dummy variables. We can drop this column

In [29]:
drop_columns = ['desc']

# Append the columns to drop
dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns = drop_columns, inplace=True)

#### Leaky columns

Remove any columns that can leak the outcome of the application ie, any data the originates after a loan has been funded or rejected.

In [30]:
print('Columns dropped so far: ')
print(dropped_columns)

Columns dropped so far:
['id', 'member_id', 'url', 'policy_code', 'title', 'initial_list_status', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'verification_status_joint', 'dti_joint', 'annual_inc_joint', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'deferral_term', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'payment_plan_start_date', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'emp_title', 'desc']

***Loan Grade***

Loan grade is calculated after the loan is given, so we can drop both `grade` and `sub_grade`.

In [31]:
drop_columns = ['grade','sub_grade']

# Append the columns to drop
dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns=drop_columns, inplace=True)

***Other features to drop***

We can remove any columns that:  
- describe payments made toward the loan

In [32]:
drop_columns =  ['total_pymnt', 'total_rec_prncp',
                 'total_rec_int', 'total_rec_late_fee',
                 'last_pymnt_d', 'last_pymnt_amnt', 
                 'next_pymnt_d', 'total_pymnt_inv']

# Append the columns to drop
dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns =drop_columns, inplace=True)

- describe debt collection or recovery

In [33]:
drop_columns = ['collection_recovery_fee', 
                'collection_recovery_fee', 'recoveries']

dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns =drop_columns, inplace=True)

- loan attributes post acceptance

In [34]:
drop_columns=['out_prncp', 'out_prncp_inv',
              'pymnt_plan', 'disbursement_method',
              'last_credit_pull_d',
              'debt_settlement_flag_date', 'settlement_term',
              'num_tl_120dpd_2m', 'num_tl_30dpd']

dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns=drop_columns, inplace=True)

- any settlement information

In [35]:
drop_columns=['debt_settlement_flag', 'settlement_status',
              'settlement_date', 'settlement_amount',
              'settlement_percentage']

dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns=drop_columns, inplace=True)

- other columns

In [36]:
drop_columns = ['max_bal_bc', 'open_rv_24m',
                'open_rv_12m', 'inq_fi',
                'total_bal_il', 'inq_last_12m',
                'open_il_24m', 'open_il_12m',
                'open_act_il', 'total_cu_tl',
                'open_acc_6m', 'il_util','mths_since_rcnt_il',
                'all_util']

dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns=drop_columns, inplace=True)

### Feature Engineering

***Term***

Convert from str to int

In [37]:
sample_accepted_df['term'].value_counts()

term
 36 months    372096
 60 months    114171
Name: count, dtype: int64

In [38]:
# Remove the "months" text and convert to int
sample_accepted_df['term'] = sample_accepted_df['term'].str.extract('(\d+)').astype('int32')

In [39]:
sample_accepted_df['term'].value_counts()

term
36    372096
60    114171
Name: count, dtype: int64

***Emp_Length***

As employment length is ordinal, we will map greater than 10 years to 10, less than 1 year to 0.5 as to differentiate it between 1 and 0, preserving that information.

In [40]:
sample_accepted_df['emp_length'].value_counts()

emp_length
10+ years    161376
2 years       44649
3 years       39222
< 1 year      37298
1 year        32825
5 years       30412
4 years       29333
6 years       22774
8 years       21137
7 years       20708
9 years       18437
Name: count, dtype: int64

We will assume NA's as no employment

In [41]:
sample_accepted_df['emp_length'].fillna(value='0',inplace=True)

Apply the mapping

In [42]:
sample_accepted_df['emp_length'] = sample_accepted_df['emp_length'].apply(map_emp_length)

Check employment length has been updated

In [43]:
sample_accepted_df['emp_length'].value_counts()

emp_length
10.0    161376
2.0      44649
3.0      39222
0.5      37298
1.0      32825
5.0      30412
4.0      29333
0.0      28096
6.0      22774
8.0      21137
7.0      20708
9.0      18437
Name: count, dtype: int64

### Dataframe-Null-Values

------------------------------------------

In [44]:
pd.set_option('display.max_rows', None)

We can calculate the percentages of null values by column

In [45]:
(sample_accepted_df.isnull().sum()/sample_accepted_df.shape[0]*100).sort_values(ascending=False)

mths_since_last_record            82.486371
mths_since_recent_bc_dlq          76.261807
mths_since_last_major_derog       73.318156
mths_since_recent_revol_delinq    66.375880
mths_since_last_delinq            50.049870
mths_since_recent_inq             12.350622
mo_sin_old_il_acct                 7.135792
pct_tl_nvr_dlq                     4.389152
avg_cur_bal                        4.380721
total_rev_hi_lim                   4.378870
tot_cur_bal                        4.378870
mo_sin_old_rev_tl_op               4.378870
mo_sin_rcnt_rev_tl_op              4.378870
mo_sin_rcnt_tl                     4.378870
num_accts_ever_120_pd              4.378870
num_actv_bc_tl                     4.378870
num_actv_rev_tl                    4.378870
num_bc_tl                          4.378870
num_il_tl                          4.378870
num_op_rev_tl                      4.378870
num_rev_accts                      4.378870
num_rev_tl_bal_gt_0                4.378870
num_tl_90g_dpd_24m                 4.378870
num_tl_op_past_12m                 4.378870
tot_hi_cred_lim                    4.378870
tot_coll_amt                       4.378870
total_il_high_credit_limit         4.378870
bc_util                            4.219081
percent_bc_gt_75                   4.183093
bc_open_to_buy                     4.158621
mths_since_recent_bc               4.084176
num_sats                           3.635040
num_bc_sats                        3.635040
acc_open_past_24mths               3.096036
mort_acc                           3.096036
total_bal_ex_mort                  3.096036
total_bc_limit                     3.096036
pub_rec_bankruptcies               0.088223
revol_util                         0.075267
collections_12_mths_ex_med         0.008637
chargeoff_within_12_mths           0.008637
tax_liens                          0.006169
earliest_cr_line                   0.002262
total_acc                          0.002262
delinq_2yrs                        0.002262
inq_last_6mths                     0.002262
delinq_amnt                        0.002262
acc_now_delinq                     0.002262
open_acc                           0.002262
pub_rec                            0.002262
annual_inc                         0.000411
zip_code                           0.000206
funded_amnt                        0.000000
last_fico_range_low                0.000000
application_type                   0.000000
funded_amnt_inv                    0.000000
revol_bal                          0.000000
term                               0.000000
int_rate                           0.000000
installment                        0.000000
fico_range_low                     0.000000
emp_length                         0.000000
home_ownership                     0.000000
fico_range_high                    0.000000
verification_status                0.000000
issue_d                            0.000000
loan_status                        0.000000
purpose                            0.000000
addr_state                         0.000000
dti                                0.000000
last_fico_range_high               0.000000
loan_amnt                          0.000000
dtype: float64

Note how there seems to be groupings of nulls. We will explore these groupings

&nbsp;

***Explore the groupings of nulls***

We will drop the loans for columns with less than 3% nulls. With a dataset this size, a few loans won't affect our analysis. Furthermore, majority of the features within these rows are nulls. There is a noticable gap at 3% which is why we will we choose it for our cutoff.

In [46]:
cutoff = 3 # Percent

# Get the percentages of nulls for each column 
null_percentages = (sample_accepted_df.isnull().sum() / sample_accepted_df.shape[0]) * 100

# Get the filtered columns
filtered_columns = null_percentages[null_percentages < cutoff].index.tolist()

#Drop the loans with nulls for the filtered columns
sample_accepted_df_cleaned = sample_accepted_df.dropna(subset=filtered_columns, inplace=True)

We will also drop any columns that are majority nulls.

In [47]:
column_cutoff = 10 # Percent

# Get the percentages of nulls for each column 
null_percentages = (sample_accepted_df.isnull().sum() / sample_accepted_df.shape[0]) * 100

# Get the filtered columns
filtered_columns = null_percentages[null_percentages > column_cutoff].index.tolist()
dropped_columns.extend(filtered_columns)

# Drop the filtered columns
sample_accepted_df.drop(columns=filtered_columns, inplace=True)

This leaves us with the the following column nulls:

In [48]:
(sample_accepted_df.isnull().sum()/sample_accepted_df.shape[0]*100).sort_values(ascending=False)

mo_sin_old_il_acct            7.050945
pct_tl_nvr_dlq                4.301507
total_rev_hi_lim              4.291208
num_actv_rev_tl               4.291208
avg_cur_bal                   4.291208
mo_sin_old_rev_tl_op          4.291208
mo_sin_rcnt_rev_tl_op         4.291208
mo_sin_rcnt_tl                4.291208
num_accts_ever_120_pd         4.291208
num_actv_bc_tl                4.291208
num_bc_tl                     4.291208
tot_coll_amt                  4.291208
num_il_tl                     4.291208
num_op_rev_tl                 4.291208
num_rev_accts                 4.291208
num_rev_tl_bal_gt_0           4.291208
num_tl_90g_dpd_24m            4.291208
num_tl_op_past_12m            4.291208
tot_hi_cred_lim               4.291208
tot_cur_bal                   4.291208
total_il_high_credit_limit    4.291208
bc_util                       4.064217
percent_bc_gt_75              4.038469
bc_open_to_buy                4.013957
mths_since_recent_bc          3.945366
num_bc_sats                   3.546792
num_sats                      3.546792
total_bc_limit                3.007327
total_bal_ex_mort             3.007327
mort_acc                      3.007327
acc_open_past_24mths          3.007327
purpose                       0.000000
loan_status                   0.000000
issue_d                       0.000000
verification_status           0.000000
annual_inc                    0.000000
open_acc                      0.000000
home_ownership                0.000000
zip_code                      0.000000
installment                   0.000000
int_rate                      0.000000
term                          0.000000
pub_rec_bankruptcies          0.000000
tax_liens                     0.000000
funded_amnt_inv               0.000000
emp_length                    0.000000
addr_state                    0.000000
pub_rec                       0.000000
acc_now_delinq                0.000000
revol_bal                     0.000000
revol_util                    0.000000
total_acc                     0.000000
last_fico_range_high          0.000000
last_fico_range_low           0.000000
collections_12_mths_ex_med    0.000000
application_type              0.000000
inq_last_6mths                0.000000
dti                           0.000000
fico_range_high               0.000000
funded_amnt                   0.000000
fico_range_low                0.000000
chargeoff_within_12_mths      0.000000
delinq_amnt                   0.000000
earliest_cr_line              0.000000
delinq_2yrs                   0.000000
loan_amnt                     0.000000
dtype: float64

We can now work through each grouping, starting with the samllest.

***acc_open_past_24mths***

In [49]:
null_rows = sample_accepted_df[sample_accepted_df['acc_open_past_24mths'].isnull()]
null_rows.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
1631890,4450.0,4450.0,4450.0,36,10.37,144.37,4.0,MORTGAGE,45000.0,Source Verified,Feb-2011,Fully Paid,credit_card,975xx,OR,21.89,0.0,Feb-2005,695.0,699.0,1.0,12.0,0.0,8809.0,66.7,17.0,699.0,695.0,0.0,Individual,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1618653,14000.0,14000.0,13750.0,36,7.90,438.07,4.0,RENT,82000.0,Source Verified,Sep-2011,Fully Paid,debt_consolidation,073xx,NJ,4.17,0.0,Jan-2000,740.0,744.0,0.0,6.0,0.0,13608.0,56.0,30.0,739.0,735.0,0.0,Individual,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1642767,6000.0,6000.0,6000.0,36,7.88,187.69,6.0,MORTGAGE,62000.0,Not Verified,Apr-2010,Fully Paid,debt_consolidation,123xx,NY,24.72,0.0,Jul-1995,725.0,729.0,0.0,13.0,0.0,26313.0,52.3,52.0,729.0,725.0,0.0,Individual,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1629383,15000.0,15000.0,15000.0,60,15.28,359.06,0.0,RENT,30000.0,Verified,Apr-2011,Fully Paid,other,926xx,CA,6.96,0.0,Apr-2004,725.0,729.0,0.0,3.0,0.0,118.0,54.1,13.0,699.0,695.0,0.0,Individual,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1641557,2400.0,2400.0,2400.0,36,9.88,77.31,4.0,MORTGAGE,69684.0,Not Verified,May-2010,Fully Paid,vacation,951xx,CA,5.31,0.0,Oct-2004,755.0,759.0,0.0,3.0,0.0,1899.0,38.0,9.0,714.0,710.0,0.0,Individual,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [50]:
null_rows['issue_d'].value_counts()

issue_d
Feb-2012    770
Jan-2012    770
Dec-2011    715
Mar-2012    634
Oct-2011    631
Nov-2011    616
Aug-2011    614
Sep-2011    601
Jul-2011    581
Jun-2011    559
May-2011    532
Apr-2011    455
Mar-2011    451
Jan-2011    434
Dec-2010    422
Feb-2011    398
Aug-2010    365
Oct-2010    359
Sep-2010    355
Jul-2010    343
Nov-2010    326
Jun-2010    325
May-2010    284
Apr-2010    271
Mar-2010    259
Nov-2009    210
Jan-2010    205
Feb-2010    192
Dec-2009    190
Oct-2009    184
Sep-2009    157
Jul-2009    133
Jun-2009    130
May-2009    126
Aug-2009    121
Apr-2009     99
Mar-2009     99
Feb-2009     96
Jan-2009     85
Dec-2008     77
Apr-2008     72
Mar-2008     66
Nov-2008     57
Jul-2008     50
Oct-2008     41
Jun-2008     40
May-2008     33
Aug-2008     28
Sep-2008     17
Apr-2012     15
Feb-2008      4
Dec-2007      2
Jan-2008      1
Name: count, dtype: int64

Notice the date for the loans. The loans made early in lendingclubs history make up the majority of nulls for the remaining columns. This is impart due to lendingclub frequently updating their api, adding new fields, while the loans that are already recorded are filled with NaN values. Since our analysis is based on the exact combination of features for a loan, it simply does not make sense to keep these loans as there is no accurate way to impute the many missing values. We can remove the associated rows or features. Although this may add some recency bias, as we are narrowing our analysis to more recent loans that may not have as varied economic conditions among other factors, we will drop the rows due to our dataset size.  
Example:  
https://www.fintechnexus.com/lending-club-adds-15-new-fields-and-folio-introduces-a-true-secondary-market-api/

In [51]:
sample_accepted_df.dropna(subset=['annual_inc', 'total_acc', 
                                  'tax_liens', 'chargeoff_within_12_mths', 
                                  'pub_rec_bankruptcies', 'total_bal_ex_mort',
                                  'tot_hi_cred_lim', 'avg_cur_bal', 
                                  'pct_tl_nvr_dlq', 'mo_sin_old_il_acct', 'bc_util', 'percent_bc_gt_75'
                                 ], inplace=True)

In [52]:
(sample_accepted_df.isnull().sum()/sample_accepted_df.shape[0]*100).sort_values(ascending=False)

loan_amnt                     0.0
num_bc_sats                   0.0
avg_cur_bal                   0.0
bc_open_to_buy                0.0
bc_util                       0.0
chargeoff_within_12_mths      0.0
delinq_amnt                   0.0
mo_sin_old_il_acct            0.0
mo_sin_old_rev_tl_op          0.0
mo_sin_rcnt_rev_tl_op         0.0
mo_sin_rcnt_tl                0.0
mort_acc                      0.0
mths_since_recent_bc          0.0
num_accts_ever_120_pd         0.0
num_actv_bc_tl                0.0
num_actv_rev_tl               0.0
num_bc_tl                     0.0
funded_amnt                   0.0
num_il_tl                     0.0
num_op_rev_tl                 0.0
num_rev_accts                 0.0
num_rev_tl_bal_gt_0           0.0
num_sats                      0.0
num_tl_90g_dpd_24m            0.0
num_tl_op_past_12m            0.0
pct_tl_nvr_dlq                0.0
percent_bc_gt_75              0.0
pub_rec_bankruptcies          0.0
tax_liens                     0.0
tot_hi_cred_lim               0.0
total_bal_ex_mort             0.0
total_bc_limit                0.0
acc_open_past_24mths          0.0
total_rev_hi_lim              0.0
tot_cur_bal                   0.0
tot_coll_amt                  0.0
funded_amnt_inv               0.0
term                          0.0
int_rate                      0.0
installment                   0.0
emp_length                    0.0
home_ownership                0.0
annual_inc                    0.0
verification_status           0.0
issue_d                       0.0
loan_status                   0.0
purpose                       0.0
zip_code                      0.0
addr_state                    0.0
dti                           0.0
delinq_2yrs                   0.0
earliest_cr_line              0.0
fico_range_low                0.0
fico_range_high               0.0
inq_last_6mths                0.0
open_acc                      0.0
pub_rec                       0.0
revol_bal                     0.0
revol_util                    0.0
total_acc                     0.0
last_fico_range_high          0.0
last_fico_range_low           0.0
collections_12_mths_ex_med    0.0
application_type              0.0
acc_now_delinq                0.0
total_il_high_credit_limit    0.0
dtype: float64

We have no more null values

### Dataframe Optimization

The library used to optimize the dataframe shape minimize to int8, which is not supported by parquet files. The code is left for reusability in the case someone wants to export as csv.

In [53]:
#sample_accepted_df = pdc.downcast(sample_accepted_df)
#print(sample_accepted_df.info())
# Infer minimum schema for DataFrame.
#schema = pdc.infer_schema(sample_accepted_df)
#print(schema)
#sample_accepted_df.shape

Instead we will simply downcast the datatypes to int and float32 as this is more than enough precision for our data.

In [54]:
# Downcast all float columns to float32
float_cols = sample_accepted_df.select_dtypes(include='float64').columns
for col in float_cols:
    sample_accepted_df[col] = pd.to_numeric(sample_accepted_df[col], downcast='float')

# Downcast all int columns to int32
int_cols = sample_accepted_df.select_dtypes(include='int64').columns
for col in int_cols:
    sample_accepted_df[col] = sample_accepted_df[col].astype('int32')

In [55]:
sample_accepted_df.dtypes

loan_amnt                     float32
funded_amnt                   float32
funded_amnt_inv               float64
term                            int32
int_rate                      float32
installment                   float32
emp_length                    float32
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
purpose                        object
zip_code                       object
addr_state                     object
dti                           float32
delinq_2yrs                   float32
earliest_cr_line               object
fico_range_low                float32
fico_range_high               float32
inq_last_6mths                float32
open_acc                      float32
pub_rec                       float32
revol_bal                     float32
revol_util                    float32
total_acc                     float32
last_fico_range_high          float32
last_fico_range_low           float32
collections_12_mths_ex_med    float32
application_type               object
acc_now_delinq                float32
tot_coll_amt                  float32
tot_cur_bal                   float32
total_rev_hi_lim              float32
acc_open_past_24mths          float32
avg_cur_bal                   float32
bc_open_to_buy                float32
bc_util                       float32
chargeoff_within_12_mths      float32
delinq_amnt                   float32
mo_sin_old_il_acct            float32
mo_sin_old_rev_tl_op          float32
mo_sin_rcnt_rev_tl_op         float32
mo_sin_rcnt_tl                float32
mort_acc                      float32
mths_since_recent_bc          float32
num_accts_ever_120_pd         float32
num_actv_bc_tl                float32
num_actv_rev_tl               float32
num_bc_sats                   float32
num_bc_tl                     float32
num_il_tl                     float32
num_op_rev_tl                 float32
num_rev_accts                 float32
num_rev_tl_bal_gt_0           float32
num_sats                      float32
num_tl_90g_dpd_24m            float32
num_tl_op_past_12m            float32
pct_tl_nvr_dlq                float32
percent_bc_gt_75              float32
pub_rec_bankruptcies          float32
tax_liens                     float32
tot_hi_cred_lim               float32
total_bal_ex_mort             float32
total_bc_limit                float32
total_il_high_credit_limit    float32
dtype: object

### Export Dataframe

***Export the dataframe for EDA***

In [56]:
export_destination = Path('../Cleaned_Data/eda_cleaned')
sample_accepted_df.to_parquet(export_destination)
print('Cleaned data to be used for EDA has been exported')

Cleaned data to be used for EDA has been exported

***Export the dataframe for Models***

Drop any Leaky columns left over from EDA

In [57]:
# Drop leaky columns / unwanted columns
drop_columns=['funded_amnt', 'funded_amnt_inv', 'fico_range_low', 'fico_range_high', 'last_fico_range_high', 'last_fico_range_low']
dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns = drop_columns, inplace=True)

# Drop categorical columns with too many categories for one hot encoding
drop_columns=['issue_d', 'earliest_cr_line', 'zip_code', 'addr_state']
dropped_columns.extend(drop_columns)
sample_accepted_df.drop(columns = drop_columns, inplace=True)

print('The final list of columns dropped : ')
print(dropped_columns)

The final list of columns dropped :
['id', 'member_id', 'url', 'policy_code', 'title', 'initial_list_status', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'verification_status_joint', 'dti_joint', 'annual_inc_joint', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'deferral_term', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'payment_plan_start_date', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'emp_title', 'desc', 'grade', 'sub_grade', 'total_pymnt', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'total_pymnt_inv', 'collection_recovery_fee', 'collection_recovery_fee', 'recoveries', 'out_prncp', 'out_prncp_inv', 'pymnt_plan', 'disbursement_method', 'last_credit_pull_d', 'debt_settlement_flag_date', 'settlement_term', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'debt_settlement_flag', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'max_bal_bc', 'open_rv_24m', 'open_rv_12m', 'inq_fi', 'total_bal_il', 'inq_last_12m', 'open_il_24m', 'open_il_12m', 'open_act_il', 'total_cu_tl', 'open_acc_6m', 'il_util', 'mths_since_rcnt_il', 'all_util', 'mths_since_last_delinq', 'mths_since_last_record', 'mths_since_last_major_derog', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'funded_amnt', 'funded_amnt_inv', 'fico_range_low', 'fico_range_high', 'last_fico_range_high', 'last_fico_range_low', 'issue_d', 'earliest_cr_line', 'zip_code', 'addr_state']

Map **Successful loans to 1**, and **Defaulted or Charged Off loans to 0** in our target column.

In [58]:
sample_accepted_df['loan_status'] = sample_accepted_df['loan_status'].apply(lambda x: 1 if x == 'Fully Paid' else 0)

In [59]:
export_destination = Path('../Cleaned_Data/model_cleaned')
sample_accepted_df.to_parquet(export_destination)
print('Cleaned data to be used for modelling has been exported')

Cleaned data to be used for modelling has been exported

### Conclusion

In this notebook, we have completed a rudimentary cleaning of the lendingclub dataset. A random sample of 500,000 rows was taken from the dataset and cleaned. We have have dealt with any missing information stemming from changes in lendingclub's api over the years, and any other NaN values. Any features that could leak the outcome of the loan, were irrelevant, or added unnecessary complexity were have also been dropped. Some rudimentary feature engineering has been conducted but this will be expanded on later. Finally, the cleaned dataset is written to a parquet file.   

Note:   
- Although the leaky features were carefully reviewed, we will check the feature weights when performing our baseline logitist regression model to confirm that some leaky features haven't been kept. 
- We have removed the earlier loans completed in lendingclubs history due to api changes and large amount of null values. This restricts our dataset to a more recent timeframe, which could introduce a recency bias, given how sensitive loans are on economic conditions over this shorter period, as will be shown in EDA.

### Resources used:

- https://stackoverflow.com/questions/51325601/how-to-stop-my-pandas-data-table-from-being-truncated-when-printed